.hero-container {
    background-image: url('/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(61, 219, 30, 0.5); /* Background color with 50% opacity */
  }
